[submodule "src-svelte/static/fonts"]
	path = src-svelte/static/fonts
	url = https://github.com/amosjyng/zamm-fonts.git
[submodule "src-svelte/forks/neodrag"]
	path = src-svelte/forks/neodrag
	url = https://github.com/amosjyng/neodrag.git
