@import "@fontsource/jetbrains-mono";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nasalization';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/nasalization-rg.otf') format("opentype");
}

@font-face {
  font-family: 'Nasalization';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/nasalization-bd.otf') format("opentype");
}

@font-face {
  font-family: 'Nasalization';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/nasalization-hv.otf') format("opentype");
}

@font-face {
  font-family: 'Good Timing';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/good_timing_rg_it.otf') format("opentype");
}

@font-face {
  font-family: 'Good Timing';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/good_timing_rg.otf') format("opentype");
}

@font-face {
  font-family: 'Good Timing';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/good_timing_bd.otf') format("opentype");
}

:root {
  --font-body: "Good Timing", sans-serif;
  --font-header: "Nasalization", sans-serif;
  --font-mono: "Jetbrains Mono", monospace;
  --color-text: rgba(0, 0, 0, 1);
  --color-header: rgba(255, 0, 0, 1);
  --color-faded: rgba(0, 0, 0, 0.5);
  --color-caution: #FF8C00;
  --color-border: #CCC;
  --sidebar-width: 3.75rem;
  --sidebar-left-padding: 0.5rem;
  --sidebar-icon-size: calc(var(--sidebar-width) - var(--sidebar-left-padding));
  --shadow-offset: 4px;
  --shadow-blur: 8px;
  --corner-roundness: 0.375rem;
  font-family: var(--font-body);
  color: var(--color-text);
  font-weight: 400;
  font-size: 18px;
}

th {
  font-family: var(--font-header);
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 0;
}

h2, tr.h2 {
  margin-top: 0;
  font-family: var(--font-header);
  font-weight: 400;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--color-header);
  text-transform: uppercase;
}

h2 {
  margin-bottom: 0;
}
