@import "@fontsource/jetbrains-mono";

@font-face {
  font-family: 'Nasalization';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/nasalization-rg.otf') format("opentype");
}

@font-face {
  font-family: 'Nasalization';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/nasalization-bd.otf') format("opentype");
}

@font-face {
  font-family: 'Nasalization';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/nasalization-hv.otf') format("opentype");
}

@font-face {
  font-family: 'Good Timing';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/good_timing_rg_it.otf') format("opentype");
}

@font-face {
  font-family: 'Good Timing';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/good_timing_rg.otf') format("opentype");
}

@font-face {
  font-family: 'Good Timing';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/good_timing_bd.otf') format("opentype");
}

:root {
  --font-body: "Good Timing", sans-serif;
  --font-header: "Nasalization", sans-serif;
  --font-mono: "Jetbrains Mono", monospace;
  --color-text: rgba(0, 0, 0, 1);
  --color-header: rgba(255, 0, 0, 1);
  --color-faded: rgba(0, 0, 0, 0.5);
  --color-error: #FF0000;
  --color-caution: #FF8C00;
  --color-border: #CCC;
  --color-foreground: #FFF;
  --color-background: #F4F4F4;
  --sidebar-width: 3.75rem;
  --shadow-offset: 4px;
  --shadow-blur: 8px;
  --corner-roundness: 0.375rem;
  --base-animation-speed: 1;
  --standard-duration: 100ms;
  font-family: var(--font-body);
  color: var(--color-text);
  font-weight: 400;
  font-size: 18px;
}

td, th {
  padding: 0;
}

h2 {
  margin-top: 0;
  font-family: var(--font-header);
  font-weight: 400;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--color-header);
  text-transform: uppercase;
  font-weight: 400;
  filter: drop-shadow(0px 1px 1px rgba(255, 0, 0, 0.7));
}

h2 {
  margin-bottom: 0;
}

h3, th {
  font-family: var(--font-header);
  font-size: 1.1rem;
  margin: 0;
  font-weight: 400;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.7));
}

body {
  background-color: white;
}

.accessibility-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

a, .link-like {
  color: #3333FF;
  text-decoration: none;
}

a[href^="http://"]::after,
a[href^="https://"]::after {
  --size: 1rem;
  content: "";
  width: var(--size);
  height: var(--size);
  margin-left: 0.25rem;
  margin-bottom: -0.15rem;
  /* equivalent of ~icons/tabler/external-link */
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="none" stroke="%233333FF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6m-7 1l9-9m-5 0h5v5"%2F%3E%3C%2Fsvg%3E');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
